{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Soft Tech</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <video autoplay muted loop>
        <source src="image/background.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    <nav>
        <ul class="menu">
            <li class="menu-item home">
                <a href="#">Welcome</a>
                <ul class="submenu">
                    <li><a>
                        Welcome to NST! We're excited you're here. 
                        Explore our site to discover [what your institution offers] and join our thriving community.
                        (For educational institutions, add this line after "discover")
                        Fostering a future-focused learning environment.
                    </a></li>
                </ul>
            </li>
            <li class="menu-item about">
                <a href="https://nsteducation.com/about-national-soft-tech/">About</a>
            </li>
            <li class="menu-item contact">
                <a href="https://nsteducation.com/contact-us/">Contact</a>
            </li>
            <li class="menu-item login">
                <a class="login.html" href="templates/login.html">LOGIN</a>
            </li>
        </ul>
    </nav>
    <div class="login-item">
        <span class="reg">Register</span>
        <div class="login-item-1"><input type="textbox" class="name" placeholder="Your name" style="font-size: 17px; font-family: Arial, Helvetica, sans-serif;">
        </div>
        <div class="bar"></div>
        <div class="login-item-2"><input type="textbox" class="name" placeholder="Your Rollno" style="font-size: 17px; font-family: Arial, Helvetica, sans-serif;">
        </div>
        <div class="bar"></div>
        <button><a href="login.html">Submit</a></button>
    </div>
</body>
</html>